@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
    background-color:#D5E1EF  ;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 152px 0px 151px 0px;;
}
.inside{
    width: 320px;
    height: 497px;
    border-radius: 20px;
    background: var(--White, #FFF);
    padding: 16px;
}
.blue{
    width: 288px;
    height: 288px;
    border-radius: 10px;
    background: var(--Blue, #2C7DFA);
    display: flex;
    justify-content:center;
    align-items: center;
}
h1{
    width: 288px;
    font-family: Outfit;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
padding: 26px 0 16px;
}
p{
    width: 256px;
    color: var(--Grey, #7D889E);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
/* Body */
font-family: Outfit;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.188px;
}